.products {

    &__info {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 5;
        background: rgba(0, 0, 0, 0.35);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &-bg {
            background: hsl(var(--secondary));
            width: 75%;
            height: 90%;
            position: relative;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 150px;

        }

        &-closebtn {
            position: absolute;
            top: 10px;
            right: 10px;
            background: hsl(var(--primary));
            color: hsl(var(--secondary));
            padding: 5px;
            border-radius: 5px;
        }

        &-partition {
            height: 100%;
            width: 5px;
            border-radius: 3px;
            background: hsl(var(--primary));
        }

        &-buttons{
            position: absolute;
            bottom: 10px;
            right: 10px;
            display: flex;
            gap: 20px;
            
        }
        &-button{
            padding: 20px;
            border: solid 2px hsl(var(--primary));
            border-radius: 10px;
        }
        &-textwrapper {

            display: flex;
            justify-content: space-between;
            gap: 10px;
            border: 5px solid hsl(var(--primary));
            padding: 15px;
            border-radius: 10px;


            & div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
        }

        &-img {
            width: 100%;
            display: flex;
            justify-content: center;

            & img {
                width: 700px;
            }
        }

    }

    &__title {

        font-weight: 400;
        font-size: 30px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    &__sorting {
        position: relative;
        display: flex;
        justify-content: space-between;



        &-btn {

            background: hsl(var(--primary));
            color: hsl(var(--secondary));
            padding: 15px;
            border-radius: 10px;
            border: hsl(var(--secondary)) solid 1px;

        }

        &-list {

            position: absolute;
            top: 45px;
            left: 0;
            z-index: 3;
            display: flex;
            flex-direction: column;
            align-items: center;

            & li {
                width: 100%;


            }

            .sorting__link {
                display: block;
                background: hsl(var(--secondary));
                border: hsl(var(--primary)) solid 2px;
                border-radius: 5px;
                padding: 5px;
                width: 100%;
                text-align: center;
                transition: .5s;

            }

        }
    }



    &__list {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 40px;


        &-item {
            box-shadow: 6px 6px 15px 0 rgba(132, 132, 132, 0.3);
            background: hsl(var(--secondary));
            border-radius: 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            cursor: pointer;


            .item {
                &__buttons {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    &-button {

                        padding: 20px;
                        background: #fff;
                        border-radius: 10px;
                        border: 1px solid hsl(var(--primary));
                        z-index: 3;


                    }

                    &__link {
                        z-index: 2;
                        width: 419px;
                        height: 100%;
                    }

                }


                &__sign {
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    font-weight: 400;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: hsl(var(--secondary));
                    background: hsl(var(--primary));
                    border-radius: 10px;
                    padding: 13px 15px;
                    transform: scale(1);



                }

                &__info {

                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: center;
                    margin-bottom: 40px;
                    margin-top: 70px;
                    max-width: 311px;
                    text-align: center;

                    &-img {
                        display: block;
                        max-width: 240px;
                        margin-top: 15px;
                        position: relative;

                        & img {
                            display: block;
                            max-width: 240px;
                        }

                        display: block;
                        max-width: 240px;
                    }

                    &-amount {
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: hsl(var(--primary));
                        color: hsl(var(--secondary));
                        padding: 5px;
                        border-radius: 25%;

                    }

                    &-type {
                        font-weight: 400;
                        font-size: 20px;
                    }

                    &-name {
                        font-weight: 700;
                        font-size: 20px;
                        text-transform: uppercase;
                    }

                    &-price {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 115%;
                        text-transform: uppercase;
                        text-decoration: line-through;
                    }

                    &-pricewidthsale {
                        font-weight: 400;
                        font-size: 25px;
                        line-height: 130%;
                        text-transform: uppercase;
                    }

                }


            }

        }
    }
}